//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 05 23:49:54 2023
//! **************************************************************************

SCHEMATIC START;
COMP "RX" LOCATE = SITE "P37" LEVEL 1;
COMP "GCLK" LOCATE = SITE "P184" LEVEL 1;
PIN GCLK_pin<0> = BEL "GCLK" PINNAME PAD;
PIN "GCLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LED" LOCATE = SITE "P42" LEVEL 1;
NET "GCLK_BUFGP/IBUFG" BEL "GCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

