NET "START" CLOCK_DEDICATED_ROUTE = FALSE;
NET "GCLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "RESET" CLOCK_DEDICATED_ROUTE = FALSE;
NET "STOP" CLOCK_DEDICATED_ROUTE = FALSE;
NET "START" LOC = P190;
NET "STOP" LOC = P189;
NET "GCLK" LOC = P184;
NET "RESET" LOC = P187;
NET "SEG_DATA[0]" LOC = P10;
NET "SEG_DATA[1]" LOC = P7;
NET "SEG_DATA[2]" LOC = P11;
NET "SEG_DATA[3]" LOC = P5;
NET "SEG_DATA[4]" LOC = P4;
NET "SEG_DATA[5]" LOC = P12;
NET "SEG_DATA[6]" LOC = P9;
NET "SEG_DATA[7]" LOC = P3;
NET "SEG_SEL[0]" LOC = P15;
NET "SEG_SEL[1]" LOC = P20;
NET "SEG_SEL[2]" LOC = P19;
NET "SEG_SEL[3]" LOC = P18;
NET "SEG_SEL[4]" LOC = P16;
NET "OUTPUTBCD1[0]" LOC = P42;
NET "OUTPUTBCD1[1]" LOC = P43;
NET "OUTPUTBCD1[2]" LOC = P44;
NET "OUTPUTBCD1[3]" LOC = P45;
NET "OUTPUTBCD2[0]" LOC = P46;
NET "OUTPUTBCD2[1]" LOC = P48;
NET "OUTPUTBCD2[2]" LOC = P50;
NET "OUTPUTBCD2[3]" LOC = P51;
NET "OUTPUTBCD3[0]" LOC = P61;
NET "OUTPUTBCD3[1]" LOC = P62;
NET "OUTPUTBCD3[2]" LOC = P63;
NET "OUTPUTBCD3[3]" LOC = P64;
NET "OUTPUTBCD4[0]" LOC = P65;
NET "OUTPUTBCD4[1]" LOC = P67;
NET "OUTPUTBCD4[2]" LOC = P68;
NET "OUTPUTBCD4[3]" LOC = P71;

